In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('Insurance_Charges.csv')

In [5]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [7]:
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [18]:
dataset=pd.get_dummies(dataset,drop_first=True)

dataset

In [20]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [77]:
indep=dataset[['age', 'sex_male', 'bmi', 'children', 'smoker_yes']]
dep=dataset[['charges']]

In [79]:
indep

      age  sex_male     bmi  children  smoker_yes
0      19     False  27.900         0        True
1      18      True  33.770         1       False
2      28      True  33.000         3       False
3      33      True  22.705         0       False
4      32      True  28.880         0       False
...   ...       ...     ...       ...         ...
1333   50      True  30.970         3       False
1334   18     False  31.920         0       False
1335   18     False  36.850         0       False
1336   21     False  25.800         0       False
1337   61     False  29.070         0        True

[1338 rows x 5 columns]

In [81]:
dep

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [83]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [85]:
X_train

      age  sex_male    bmi  children  smoker_yes
482    18     False  31.35         0       False
338    50      True  32.30         1        True
356    46      True  43.89         3       False
869    25     False  24.30         3       False
182    22      True  19.95         3       False
...   ...       ...    ...       ...         ...
763    27      True  26.03         0       False
835    42      True  35.97         2       False
1216   40      True  25.08         0       False
559    19      True  35.53         0       False
684    33     False  18.50         1       False

[892 rows x 5 columns]

In [87]:
X_train.shape

(892, 5)

In [89]:
y_train

         charges
482    1622.1885
338   41919.0970
356    8944.1151
869    4391.6520
182    4005.4225
...          ...
763    3070.8087
835    7160.3303
1216   5415.6612
559    1646.4297
684    4766.0220

[892 rows x 1 columns]

In [91]:
y_train.shape

(892, 1)

In [93]:
X_test

      age  sex_male     bmi  children  smoker_yes
578    52      True  30.200         1       False
610    47     False  29.370         1       False
569    48      True  40.565         2        True
1034   61      True  38.380         0       False
198    51     False  18.050         0       False
...   ...       ...     ...       ...         ...
261    20     False  26.840         1        True
1271   25     False  34.485         0       False
1313   19     False  34.700         2        True
2      28      True  33.000         3       False
405    52     False  38.380         2       False

[446 rows x 5 columns]

In [95]:
X_test.shape

(446, 5)

In [97]:
y_test

          charges
578    9724.53000
610    8547.69130
569   45702.02235
1034  12950.07120
198    9644.25250
...           ...
261   17085.26760
1271   3021.80915
1313  36397.57600
2      4449.46200
405   11396.90020

[446 rows x 1 columns]

In [99]:
y_test.shape

(446, 1)

In [101]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)#y=W*x1+b0 for this equation we got value for b1 and bo

LinearRegression()

In [103]:
# Viewing the b1 and bo value
weight=regressor.coef_
print("Weight of the model={}".format(weight))
bais=regressor.intercept_
print("Intercept of the model={}".format(bais))

Weight of the model=[[  260.1423112    -71.76915955   315.22441969   545.72248029
  23252.13608407]]
Intercept of the model=[-12013.76012735]

In [105]:
y_pred=regressor.predict(X_test)

In [108]:
#https://scikit-learn.org/stable/modules/model_evaluation.html

In [110]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [112]:
r_score

0.7865108093853883

In [128]:
import pickle

In [130]:
filename="mulline_final.sav"
pickle.dump(regressor,open(filename,"wb"))

In [132]:
model=pickle.load(open(filename,"rb"))

In [135]:
age_input=float(input("age:"))
sex_input=float(input("sex_male"))
bmi_input=float(input("BMI "))
child_input=int(input("# of Children:"))
smoker_input=int(input("Smoker:"))

age: 27
sex_male 1
BMI  19
# of Children: 1
Smoker: 1

In [143]:
result=model.predict([[age_input,sex_input,bmi_input,child_input,smoker_input]])

C:\Users\arunn\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [139]:
result

array([[24725.43565398]])